@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.home-hero-section:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 100px;
    background: url("assets/images/home/hero-bottom.svg") no-repeat center center;
    background-size: cover;
    z-index: 1;
}
@media (min-width: 2300px) {
    .home-hero-section:before {
        height: 240px;
    }
}
@media (max-width: 640px) {
    .home-hero-section:before {
        display: none;
    }
}

.relive-girl-img::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #EFD7EF 8%, #F5F9FC 43%, #F8EAE1 64%, #EAF8F9 87%);
    width: 578px;
    height: 578px;
    border-radius: 50%;
}

@media (max-width: 1280px) and (min-width: 768px) {
    .relive-girl-img::before {
        display: none;
    }
}

.classic-favorites-section .swiper-pagination {
    width: fit-content;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.classic-favorites-section .swiper-pagination .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #E1E1E2;
}
.classic-favorites-section .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #F83D8E;
}